<div id="pins">
  <div class="container-fluid">
    <h1>Pins</h1>
      <div class="card-columns">
        <div class="individual-pins">
          <%= render partial: 'pin', collection: @pins %>
        </div>
      </div>
  </div>
</div>
<%= will_paginate @pins %>


