<div id="pins">
  <div class="container-fluid">
    <h1>Pins</h1>
    <div class="videos">
      <div class="row">
        <div class="col-md-4">
          <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/1QkMOdW0Kyc?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
        </div>
        <div class="col-md-4">
          <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/cp-Tt3aOYVY?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
        </div>
        <div class="col-md-4">
          <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/w6BIchm_iQg?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
        </div>
      </div>
    </div>
      <div class="card-columns">
        <div class="individual-pins">
          <%= render partial: 'pin', collection: @pins %>
        </div>
      </div>
  </div>
</div>
<%= will_paginate @pins %>





