* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
  color: #211922;
  font-size: 12px;
}

.card {
  background-color: white;
  margin-bottom: 5px;
  display: inline-block;
}

.card-columns {
  column-count:4;
  width: 100%;"

  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.main-image {
  padding: 15px;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.board-name {
  color: #555;
  width: 125px;
}

.credit-name {
  color: #555;
  width: 125px;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: -0.05px;
  line-height: 12px;
  word-spacing: 0;
  margin-bottom: 3px;
  margin-top: 15px;
}

.repin-count {
  margin-right: 5px;
}

.site-name {
  color: #aaa;
  font-weight: normal;
}

.title {
  font-weight: bold;
  max-height: 100%;
  max-width: 180px;
  padding-bottom: 0;
  padding-top: 0;
  color: #444;
  font-size: 16px;
  letter-spacing: -0.15px;
  line-height: 16px;
  word-spacing: 0;
}

.user-image {
  border-radius: 50%;
}